---
title: Le Wagon Middleman boilerplate
---
<div class="banner text-align">
  <!--%= image_tag "banner.jpeg", class: "img-cover" %-->
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>House Music</h1>
    <p>It's a spiritual thing</p>
    <%= link_to "Drop it", "#", class: "btn btn-danger" %>
  </div>
</div>
<div class="container fluid">
  <div class="row">
    <% data.features.each do |feature| %>
      <div class="col-xs-12 col-sm-3">
        <div class="feature">
          <h2><%= image_tag feature.image, class: "img-small" %><%= feature.name %></h2>
          <p><%= feature.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Cards -->
<div class="container">
  <h2 class="text-align">Most popular</h2>
  <div class="row">
    <% data.products.each do |product| %>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <span class="card-bg card-gradient" style="background-image: url('<%= image_path product.background %>')">
          </span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
          </span>
          <span class="card-user">
            <%= image_tag product.image, class: "img-xs-small"%>
          </span>
          <a href="<%= product.link %>" class="card-link"></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Newsletter -->
<div class="container">
  <h2 class="text-align">Get news from us</h2>
  <p class="text-align">Leave us your mail and get stylus news</p>
  <div class="row text-align">
    <form class="form-inline">
      <label for="exampleInputEmail2"></label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="bob@gmail.com">
      <button type="submit" class="btn btn-primary">Surbscribe</button>
    </form>
  </div>
</div>
<!-- Map -->
<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>
<!-- Footer -->
<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
